 /*! Combinator selectors 
 apply styles based on how elements are nested or
  arranged in relation to each other.
 /**   1. Descendent (having space)
/**    2. Direct Child (>)
 /**   3. General Sibling (~)
/**    4. Adjacent Sibling (+)

/**  Descendent (having space) */

body section main p{
    color: white;
    background-color: crimson;
}


/** Direct Child (>)*/
article>p{
    color: white;
    background-color:rgb(20, 220, 73);
}


/** General sibling */
section p~p{
color:aqua;
background-color: rgb(21, 26, 180);
} 


/** adjacent sibling */
main+h5 {
    color: red;
}